[train] #train parameters
epoch = 100
batch_size = 8

shuffle = True

reader_num = 16

optimizer = adamw
learning_rate = 2e-5
step_size = 1
lr_multiplier = 1

grad_accumulate = 4

[eval] #eval parameters
batch_size = 16

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = MyBert
train_data_path = /mnt/datadisk0/xcj/LegalBert/data/sfks
train_file_list = 0_train.json,1_train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = MyBert
valid_data_path = /mnt/datadisk0/xcj/LegalBert/data/sfks
valid_file_list = 0_valid.json,1_valid.json

test_dataset_type = JsonFromFiles
test_formatter_type = MyBert
test_data_path = /mnt/datadisk0/xcj/LegalBert/data/sfks
test_file_list = 0_test.json,1_test.json

topk = 0
multi_choice = False

max_len = 512

[model] #model parameters
model_name = MyBert

bert_path = /mnt/datadisk0/xcj/LegalBert/model/VanillaLFM_All4096/model_1_24000

hidden_size = 768

[output] #output parameters
model_path = /mnt/datadisk0/xcj/LegalBert/model/qa/all/single
model_name = Lawformer

tensorboard_path = /mnt/datadisk0/xcj/LegalBert/tensorboard

output_function = binary
