[train] #train parameters
epoch = 128
batch_size = 8

reader_num = 4

optimizer = adam
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1
shuffle = True

max_len = 512
PLM_path = /data/disk1/private/zhx/bert/ms/
PLM_vocab = /data/disk1/private/zhx/bert/ms/vocab.txt

[eval] #eval parameters
batch_size = 8

reader_num = 4

[distributed]
use = False
backend = nccl

[data] #data parameters
train_dataset_type = CauseAction
train_formatter_type = CauseAction
train_data = /data3/private/xcj/LegalBert/eval_data/ms_ac

valid_dataset_type = CauseAction
valid_formatter_type = CauseAction
valid_data = /data3/private/xcj/LegalBert/eval_data/ms_ac

test_dataset_type = CauseAction
test_formatter_type = CauseAction
test_data = /data3/private/xcj/LegalBert/eval_data/ms_ac

label2id = utils/label2id.json

[model] #model parameters
model_name = CauseAction

[output] #output parameters
output_time = 1
test_time = 1

model_path = /data/disk1/private/xcj/LegalBert/model
model_name = CauseAction

tensorboard_path = /data/disk1/private/xcj/LegalBert/tensorboard

#output_function = acc
accuracy_method = SingleLabelTop1
output_function = Basic
output_value = micro_f1,macro_f1

tqdm_ncols = 150
