[train] #train parameters
epoch = 50
batch_size = 16

shuffle = True

reader_num = 32

optimizer = adamw
learning_rate = 5e-5
step_size = 1
lr_multiplier = 1

PLM_vocab = hfl/chinese-roberta-wwm-ext
PLM_path = /mnt/datadisk0/xcj/LegalBert/model/VanillaLFM_All4096/model_1_210000

max_len = 2048

grad_accumulate = 2

[eval] #eval parameters
batch_size = 64

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = MultiTaskLJP
train_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/xs/large
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = MultiTaskLJP
valid_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/xs/large
valid_file_list = dev.json

test_dataset_type = JsonFromFiles
test_formatter_type = MultiTaskLJP
test_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/xs/large
test_file_list = test.json

label2id = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/xs/label2id.json

reduce = True
reduce_ratio = 0.3

[model] #model parameters
model_name = MultiTaskLJP


[output] #output parameters
model_path = /mnt/datadisk0/xcj/LegalBert/model/ljp/
model_name = LJPLawformerLarge

tensorboard_path = /mnt/datadisk0/xcj/LegalBert/tensorboard

output_function = LJP
