[train] #train parameters
epoch = 50
batch_size = 32

shuffle = True

reader_num = 16

optimizer = adamw
learning_rate = 5e-5
step_size = 1
lr_multiplier = 1

PLM_vocab = bert-base-chinese
PLM_path = bert-base-chinese

max_len = 512

[eval] #eval parameters
batch_size = 32

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = MultiTaskLJP
train_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/ms/small
train_file_list = train.json

valid_dataset_type = JsonFromFiles
valid_formatter_type = MultiTaskLJP
valid_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/ms/small
valid_file_list = dev.json

test_dataset_type = JsonFromFiles
test_formatter_type = MultiTaskLJP
test_data_path = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/ms/small
test_file_list = test.json

label2id = /mnt/datadisk0/xcj/LegalBert/data/judgement_prediction/ms/label2id.json

ms = True

[model] #model parameters
model_name = MultiTaskLJP

[output] #output parameters
model_path = /mnt/datadisk0/xcj/LegalBert/model/ljp/
model_name = msLJPBert

tensorboard_path = /mnt/datadisk0/xcj/LegalBert/tensorboard

output_function = ms_LJP
