[train] #train parameters
epoch = 50
batch_size = 24

shuffle = True

reader_num = 32

optimizer = adam
learning_rate = 1e-3
step_size = 1
lr_multiplier = 1


max_len = 2560

# grad_accumulate = 4

[distributed]
use = False
backend = nccl

[eval] #eval parameters
batch_size = 24

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = cnn
train_formatter_type = cnn
train_data_path = /home/ubuntu/mnt/LawPrediction/LawPrediction/data/final_data/cutted/train.json


valid_dataset_type = cnn
valid_formatter_type = cnn
valid_data_path = /home/ubuntu/mnt/LawPrediction/LawPrediction/data/final_data/cutted/test.json

label2id = /home/ubuntu/mnt/LawPrediction/LawPrediction/data/final_data/label2id.json
word2id = /home/ubuntu/mnt/LawPrediction/LawPrediction/data/final_data/cutted/word2id.json

[model] #model parameters
model_name = cnn
hidden_size = 256

[output] #output parameters
model_path = /home/ubuntu/mnt/LawPrediction/LawPrediction/model
model_name = cnn

tensorboard_path = /home/ubuntu/mnt/LawPrediction/LawPrediction/tensorboard

output_function = Basic
output_value = mip,mir,mif,map,mar,maf
