[train] #train parameters
epoch = 5
batch_size = 4

reader_num = 1

optimizer = adamw
learning_rate = 3e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

PLM_vocab = hfl/chinese-roberta-wwm-ext
PLM_path = /mnt/datadisk0/xcj/LegalBert/model/VanillaLFM_All4096/model_1_210000

query_len = 768
cand_len = 3325

grad_accumulate = 8

[eval] #eval parameters
batch_size = 4

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = lecard

valid_dataset_type = JsonFromFiles
valid_formatter_type = lecard

query_path = /mnt/datadisk0/xcj/LegalBert/data/LeCaRD/data/query/query_5f
cand_path = /mnt/datadisk0/xcj/LegalBert/data/LeCaRD/data/candidates/candidates
label_path = /mnt/datadisk0/xcj/LegalBert/data/LeCaRD/data/label/golden_labels.json
# test_file = 1

result_path = /mnt/datadisk0/xcj/LegalBert/lecard/result

[model] #model parameters
model_name = lecard


[output] #output parameters
output_time = 1
test_time = 1

model_path = /mnt/datadisk0/xcj/LegalBert/model/lecard/
model_name = Lecardlfm

tensorboard_path = /mnt/datadisk0/xcj/LegalBert/tensorboard

output_function = out1
tqdm_ncols = 150
