[train] #train parameters
epoch = 5
batch_size = 4

grad_accumulate = 8

reader_num = 1

optimizer = adamw
learning_rate = 1e-5
weight_decay = 0
step_size = 1
lr_multiplier = 1

PLM_vocab = bert-base-chinese
PLM_path = /home/xcj/LegalLongPLM/model/DimRedBERT/model_1_198000

query_len = 300
cand_len = 1745

[eval] #eval parameters
batch_size = 32

reader_num = 1

[data] #data parameters
train_dataset_type = JsonFromFiles
train_formatter_type = lecard

valid_dataset_type = JsonFromFiles
valid_formatter_type = lecard

query_path = /home/xcj/LegalLongPLM/data/LeCaRD-main/data/query_split
cand_path = /home/xcj/LegalLongPLM/data/LeCaRD-main/data/candidates/candidates
label_path = /home/xcj/LegalLongPLM/data/LeCaRD-main/data/label/golden_labels.json
# test_file = 1

result_path = /home/xcj/LegalLongPLM/results/lecard

[model] #model parameters
model_name = lecard


[output] #output parameters
output_time = 1
test_time = 1

model_path = /home/xcj/LegalLongPLM/lecard/
model_name = LecardBert

tensorboard_path = /home/xcj/LegalLongPLM/tensorboard

output_function = out1
tqdm_ncols = 150
