[train] #train parameters
epoch = 50
batch_size = 16

shuffle = True

reader_num = 32

optimizer = adamw
learning_rate = 2e-5
step_size = 1
lr_multiplier = 1

PLM_vocab = /data/disk1/private/zhx/bert/ms/
PLM_path = /data/disk1/private/zhx/bert/ms/

max_len = 200

grad_accumulate = 1
neg_ratio = 0.5


[distributed]
use = False
backend = nccl

[eval] #eval parameters
batch_size = 16

shuffle = False

reader_num = 16

[data] #data parameters
train_dataset_type = zyjd
train_formatter_type = zyjd
train_data_path = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/data/zyjd/split/train.json


valid_dataset_type = zyjd
valid_formatter_type = zyjd
valid_data_path = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/data/zyjd/split/test.json


test_dataset_type = zyjd
test_formatter_type = zyjd
test_data_path = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/data/zyjd/split/test.json


label2num = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/data/zyjd/label2num.json
threshold = 50

[model] #model parameters
model_name = zyjd


[output] #output parameters
model_path = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/model
model_name = zyjd_legalbert

tensorboard_path = /data/disk1/private/xcj/MJJDInfoExtract/DisputeFocus/tensorboard

output_function = prf
# output_value = mip,mir,mif,map,mar,maf
